* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.app {
  padding: 4% 8%;
}

#profile_img {
  width: 9%;
  border-radius: 50%;
}

.profile h2 {
  padding: 1rem 0;
  font-family: fantasy;
  letter-spacing: 2px;
}

.profile {
  position: relative;
}

.arrow,
.triple-dot {
  width: 4%;
  position: absolute;
  right: 13%;
  cursor: pointer;
}

.triple-dot {
  display: none;
}

#slack {
  display: none;
}

.profile,
.links {
  text-align: center;
  padding: 0 3rem;
}

.links {
  margin: 0 0 1.5rem 0;
}

.links a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  border-radius: 10px;
  padding: 0.5rem 0;
}

#twitter_link,
#btn_zuri {
  padding: 1.219rem 0;
}

.links a span {
  margin-bottom: 0.5rem;
}

.social-icon img {
  width: 5%;
  margin: 0 0.5rem;
}

.foot-body {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.foot #zuri-img {
  width: 15%;
}

.foot #zuri-ingressive {
  width: 12%;
}

#hng-text {
  color: rgb(182, 182, 182);
  font-size: 15px;
  align-items: center;
}

@media screen and (max-width: 500px) {
  #profile_img{
    width: 30%;
  }
  .triple-dot {
    display: block;
    width: 9%;
    position: absolute;
    right: 0;
    top: 0;
  }

  .arrow {
    display: none;
  }

  .links {
    padding: 0;
  }

  .social-icon img {
    width: 12%;
  }

  .foot #zuri-img {
    width: 35%;
  }

  #hng-text {
    font-size: 0.8rem;
    margin: 0.6rem 0;
  }
  
  .foot #zuri-ingressive {
    width: 30%;
  }

  .foot-body {
    display: block;
  }
}