* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.app {
  padding: 4% 8%;
}

#profile__img {
  width: 9%;
  border-radius: 50%;
}

.profile h2 {
  padding: 1rem 0;
  font-family: fantasy;
  letter-spacing: 2px;
}

.profile {
  position: relative;
}

.arrow,
.triple-dot {
  width: 4%;
  position: absolute;
  right: 13%;
  cursor: pointer;
}

.triple-dot {
  display: none;
}

#slack {
  display: none;
}

.profile,
.links {
  text-align: center;
  padding: 0 3rem;
}

.links {
  margin: 0 0 1.5rem 0;
}

.links a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  border-radius: 10px;
  padding: 1rem 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
}

.social-icon a {
  display: inline;
  background-color: inherit;
  border-radius: 0;
  padding: 0;
}

.social-icon img {
  width: 5%;
  margin: 0 0.5rem;
}

#profile__img:hover,
.social-icon img:hover,
.links a:hover {
  transition: 0.5s ease-in-out;
  transform: scale(1.1);
}

.foot-body {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.foot #zuri__img {
  width: 15%;
}

.foot #zuri__ingressive {
  width: 12%;
}

#hng__text {
  color: rgb(182, 182, 182);
  font-size: 15px;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  color: black;
  padding: 2% 5%;
}

form {
  padding: 2% 0 8%;
}

.contact h1,
.contact p,
form label,
form input,
form textarea {
  text-align: left;
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 5px;
  outline: none;
}

input:focus,
textarea:focus {
  border: 1px solid #afd6f8;
}

form #check {
  width: fit-content;
  display: flex;
  font-size: 0.9rem;
}

form input#check {
  margin-right: 0.5rem;
}


form #name {
  display: flex;
  width: 100%;
}

form label {

}

form label#last_name {
  margin-left: 1.5rem;
}


#first_name,
#last_name {
  width: 100%;
}

@media screen and (max-width: 500px) {
  #profile__img {
    width: 30%;
  }

  .triple-dot {
    display: block;
    width: 9%;
    position: absolute;
    right: 0;
    top: 0;
  }

  .arrow {
    display: none;
  }

  .links {
    padding: 0;
  }

  .social-icon img {
    width: 12%;
  }

  .foot #zuri__img {
    width: 35%;
  }

  #hng__text {
    font-size: 0.8rem;
    margin: 0.6rem 0;
  }

  .foot #zuri__ingressive {
    width: 30%;
  }

  .foot-body {
    display: block;
  }
}
