* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --size: 20px;
}

body {
  font-family: sans-serif;
}

#profile-img img {
  width: 10%;
  border-radius: 50%;
}

#slack {
  display: none;
}